<!DOCTYPE html>
<html ng-app="myApp">    
<head>
    <meta charset="UTF-8">
    <title>ngForm</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ngForm.css">
</head>
    
<body>
    <div class="container" ng-controller="myCtrl">

        <!-- 左侧表单 -->
        <div class="col-md-4">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">姓名<i>*</i></label>
                    <div class="col-md-9">
                        <input class="form-control" id="name" type="text" ng-model='user.name' required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex"class="col-md-3 control-label">性别<i>*</i></label>
                    <label class="radio-inline" style="margin-left:18px">
                      <input type="radio" name="sex" value="男" ng-model="user.sex" required> 男
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sex" value="女" ng-model="user.sex" required> 女
                    </label>
                </div>
                <div class="form-group">
                    <label for="age" class="col-md-3 control-label">年龄<i>*</i></label>
                    <div class="col-md-9">
                        <input class="form-control" id="age" type="number" required ng-model='user.age' ng-maxlength="2"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="area" class="col-md-3 text-right">地区<i>*</i></label>
                    <div class="col-md-9">
                        <select class="form-control" id="area" ng-model="user.area" ng-options="x for x in areas" required placeholder="请选择">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email"class="col-md-3 control-label">邮箱<i>*</i></label>
                    <div class="col-md-9">
                        <input type="email" id="email" name="email" ng-model="user.email" class="form-control" required uib-tooltip="eg.:username@yahoo.com" tooltip-placement="right" tooltip-enable="form.email.$invalid"/>
                    </div>
                </div>            
                <div class="form-group">
                    <label for="msg" class="col-md-3 text-right">留言<i>&nbsp;</i></label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" id="msg" name="msg" ng-model="user.msg" ng-maxlength="20" uib-tooltip="只能输入0 ~ 20个字符" tooltip-placement="top-right" tooltip-enable="form.msg.$invalid"></textarea>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input class="btn btn-primary" type="submit" value="提交" ng-click="submit()" ng-disabled="form.$invalid"/>
                    <input class="btn btn-primary" type="submit" value="重置"  ng-click="reset()" ng-disabled="!form.$dirty"/>
                </div>
            </form>
        </div>

        <!-- 右侧表格 -->
        <div class="col-md-8">
            <table class="table table-hover table-striped text-center">
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>地区</th>
                    <th>邮箱</th>
                    <th>留言</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="record in records">
                    <td ng-bind="record.name"></td>
                    <td ng-bind="record.sex"></td>
                    <td ng-bind="record.age"></td>
                    <td ng-bind="record.area"></td>
                    <td ng-bind="record.email"></td>
                    <td ng-bind="record.msg"></td>
                    <td>
                        <a href="#" uib-tooltip="编辑"><i class='icon-pencil' ng-click="edit($index)"></i></a>&nbsp;&nbsp;
                        <a href="#" uib-tooltip="删除"><i class='icon-trash' ng-click="del($index)"></i></a>
                    </td>
                </tr>
            </table>
        </div>  

    </div>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="js/controller.js"></script>
</body>
</html>